<!DOCTYPE html>
<html class="h-full">

<head>
    <title>Gráfica</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body class="h-full bg-gray-200">
    <header class ="m-0 flex flex-col justify-center items-center bg-black">
        <h1 class="text-3xl font-bold p-8 text-white">
            MI CASA
        </h1>
    </header>
    <div class="flex justify-center items-center">
        <div class="w-auto bg-white rounded-lg mt-8 ml-5 mr-5 flex flex-col justify-center items-center">
            <img src="data:image/png;base64,{{ img_data }}" class="p-2">
        </div>
    </div>
</body>

</html>
